/*************************************************************************
 * GitHub: https://github.com/yenchiah/project-website-template
 * Version: v3.1
 * This CSS file has widgets for building interactive web applications
 * Use this file with widgets.js
 * If you want to keep this template updated, avoid modifying this file
 * Instead, add your own CSS in the index.css
 *************************************************************************/

.custom-radio {
  padding: 0;
  text-align: center;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s;
  text-decoration: none;
  box-sizing: border-box;
  background-color: white;
  border: 0;
  border-spacing: 0;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio:not(:disabled):hover {
  color: #333333;
  background-color: #eeeeee;
}

.custom-radio:disabled {
  opacity: 0.4;
}

.custom-radio.custom-radio-left [type="radio"]+label {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
}

.custom-radio.custom-radio-right [type="radio"]+label {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.custom-radio.custom-radio-middle [type="radio"]+label {
  border-radius: 0 !important;
  border-right: 0 !important;
}

.custom-radio [type="radio"]+label {
  position: relative;
  padding: 7px 13px 6px 29px;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  display: table-cell;
  color: #666666;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio [type="radio"] {
  position: absolute;
  left: -9999px;
}

.custom-radio [type="radio"]:checked+label {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.custom-radio [type="radio"]+label:before {
  content: '';
  position: absolute;
  left: 11px;
  top: 7px;
  width: 12px;
  height: 12px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.custom-radio [type="radio"]+label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #005cbf;
  position: absolute;
  top: 10px;
  left: 14px;
  border-radius: 100%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.custom-radio [type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custom-radio [type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom-dropdown {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-dropdown>a {
  padding: 5px 26px 5px 8px;
  outline: none;
  border-radius: 2px;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s, border 0.1s;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  color: black;
  height: 28px;
  border: 1px solid #7d7d7d;
  background-color: white;
  width: 100%;
  cursor: pointer;
}

.custom-dropdown>a>span {
  text-align: left;
  font-size: 14px !important;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.custom-dropdown>a:after {
  position: absolute;
  content: "";
  top: 13px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: black;
}

.custom-dropdown>div {
  display: none;
  position: absolute;
  margin-top: -1px;
  border: 1px solid #7d7d7d;
  background-color: white;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  min-width: 100%;
}

.custom-dropdown>a:focus {
  pointer-events: none;
}

.custom-dropdown>a:focus+div {
  display: block;
}

.custom-dropdown>div:hover {
  display: block;
}

.custom-dropdown>div>a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  text-align: left;
  display: block;
  outline: none;
  font-size: 14px !important;
  line-height: 16px;
  height: 26px;
  white-space: nowrap;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  box-sizing: border-box;
}

.custom-dropdown>div>a:hover {
  background-color: #e1e1e1;
  color: black;
}

.custom-dropdown>div.force-hide {
  display: none !important;
}

.custom-dialog-flat {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: white;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-dialog-flat .ui-dialog-content {
  padding: 0 1.2em 0 1.2em;
}

.custom-dialog-flat .ui-dialog-content p {
  margin: 0.6em 0;
}

.custom-dialog-flat .ui-dialog-content p:first-child {
  margin-top: 0;
}

.custom-dialog-flat .ui-dialog-content p:last-child {
  margin-bottom: 0;
}

.custom-dialog-flat .ui-dialog-titlebar {
  background-color: white;
  background-image: none;
  border: 0;
  border-radius: 0px;
  color: #2E2F30;
  padding: 1.2em 1.2em 1.2em 1.2em;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-title {
  text-align: center;
  margin: 0 0 0 0.5em;
  font-size: 19px;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close {
  background: white none;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1.2em;
  top: 1.3em;
  text-indent: 0;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-default {
  background: none;
  border: none;
  height: auto;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-icon {
  background: none;
  border: 0;
}

.custom-dialog-flat .ui-dialog-buttonpane {
  border-width: 0;
  margin: 0;
  padding: 1.2em 1.2em 1.2em 1.2em;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset {
  width: 100%;
  text-align: right;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
  border: 1px solid #7d7d7d;
  background: #7d7d7d none;
  color: white;
  border-radius: 2px;
  margin: 0 0 0 0.7em;
  outline: none;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button:first-child {
  margin-left: 0;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.ui-action-button {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.full-width {
  width: 100%;
  margin-left: 0;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.full-width:not(:first-child) {
  margin-top: 0.5em;
}

.ui-widget-overlay {
  opacity: 0.6;
  background-image: none;
  background-color: black;
}

.control-group .custom-radio {
  margin: 10px 0 10px 0;
}

.control-group .custom-dropdown {
  margin: 10px 0 10px 0;
}

.control-group .custom-dropdown:not(:last-child) {
  margin-right: 15px;
}

.no-scroll {
  overflow: hidden;
}